{% load static %}
<!DOCTYPE html>
<html>

    <head>
        <meta charset='utf-8'>
        <meta http-equiv='X-UA-Compatible' content='IE=edge'>
        <meta http-equiv="content-language" content="pt-br, en-US">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Dízimo</title>
        <link href="{% static '/css/fontawesome/css/all.css' %}" rel="stylesheet">
        <link href="{% static '/css/base.css' %}" rel="stylesheet">
        <link href="{% static '/css/home.css' %}" rel="stylesheet">
        <link href="{% static '/css/login.css' %}" rel="stylesheet">
    </head>

    <body>
        {% if user.is_authenticated %}
        <ul>
            <div class="dropbtn-menu-dist">
                <div>
                    <li class="dropdown ">
                        <div class="dropdown-title">
                            <i class="fas fa-bars dropbtn"> <span class="dropdown-title-no-select">Menu</span> </i>
                        </div>
                        <div class="dropdown-content">

                            <a class="fas fa-poll-h" href="{% url 'paroquia:listar_paroquias' %}">
                                <spam class="dropdown-content-menu"> Cadastro de Paróquias </spam>
                            </a>

                            <a class="fas fa-box" href="{% url 'comunidade:listar_comunidades' %}">
                                <spam class="dropdown-content-menu"> Cadastro de Comunidades </spam>
                            </a>
                            <a class="fas fa-hotel" href="{% url 'ofertante:listar_ofertantes' %}">
                                <spam class="dropdown-content-menu"> Cadastro de Dizimistas </spam>
                            </a>
                            <hr>
                            <a class="fas fa-home" href="{% url 'home' %}">
                                <spam class="dropdown-content-menu"> Home </spam>
                            </a>
                        </div>
                    </li>
                </div>

                <div>
                    <li class="dropdown"><a class="fas" href="{% url 'logout' %}">Sair</a></li>
                </div>
            </div>
        </ul>
        {% endif %}
        {% block content %} {% endblock %}

    </body>

</html>
<footer>
    <script src="{% static '/js/jquery.js' %}"></script>
    <script src="{% static '/js/home.js' %}"></script>

</footer>
