asgiref==3.3.1
astroid==2.5.1
autopep8==1.5.5
certifi==2020.12.5
cloudinary==1.24.0
dj-database-url==0.5.0
dj-static==0.0.6
Django==3.1.7
django-admin-rangefilter==0.7.0
django-debug-toolbar==3.2
django-filter==2.4.0
djangorestframework==3.12.2
gunicorn==20.0.4
isort==5.7.0
lazy-object-proxy==1.5.2
mccabe==0.6.1
mock==4.0.3
Pillow==8.1.1
psycopg2-binary==2.8.6
pycodestyle==2.6.0
pycpfcnpj==1.5.1
pylint==2.7.2
python-decouple==3.4
pytz==2021.1
six==1.15.0
sqlparse==0.4.1
static3==0.7.0
toml==0.10.2
typed-ast==1.4.2
Unidecode==1.2.0
urllib3==1.26.3
wrapt==1.12.1
